<!DOCTYPE html>
<html>
    <head>    
        <meta charset="UTF-8">
        <title>Admin Panel</title>
    </head>
<body>
<h1>Admin</h1>
<p>hello Admin {{ user }}</p>
{% block body %}
<style>
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>
<table>
    <tr>
        <th>User</th>
        <th>Role</th>
        <th>Change Roles</th>
    </tr>

    {% for r in records %}
    <tr>
        <td> {{ r["email"] }} </td> 
        <td> {{ r["role"] }} </td>
        
        {% if r["role"] == 'Admin' %}
        <td>  
            <a href="/admin/change/{{r['id']}}">
                <button>Downgrade</button>
            </a>
        </td>
        {% elif r["role"] == 'Regular' %}
        <td>  
            <a href="/admin/change/{{r['id']}}">
                <button>Upgrade</button>
            </a>
        </td>
        {% endif %}

    {% endfor %}
</table>
{% endblock %}
<div class="modal-body">

</div>
<p><a href ="/" class="btn">Back Home</a></p>
<p><a href="/logout" class="btn">Logout</a></p>
</body>
</html>