<!DOCTYPE html>
<html>
    <head>    
        <meta charset="UTF-8">
        <title>Admin Panel</title>
    </head>
<body>
<h1>Administration Panel</h1>
<p>Hello Admin {{ user }}</p>

{% block body %}
<style>
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }
    
</style>
<table>
    <tr>
        <th style="width: 300px">Users</th>
        <th style="width: 100px">Roles</th>
        <th style="width: 100px">Change Roles</th>
    </tr>

    {% for r in records %}
    <tr>
        <td> {{ r["email"] }} </td> 
        <td style = "text-align: center;"> {{ r["role"] }} </td>

        <td style = "text-align: center;">  
            <a href="/admin/change/{{r['id']}}">
                {% if r["role"] == 'Admin' %}
                <button style="width: 90px;">Downgrade</button>
                {% elif r["role"] == 'Regular' %}
                <button style="width: 90px;">Upgrade</button>
                {% endif %}

            </a>
        </td>
      

    {% endfor %}
</table>
{% endblock %}

<section>
    <header>
      {% block header %}{% endblock header %}
      {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category=="error" %}
            <div style="color:red" class="flash {{ category }}">{{ message }}</div>
        {% else %}
            <div style="color:green" class="flash {{ category }}">{{ message }}</div>
        {% endif %}
      {% endfor %}
    </header>
   
  </section>
<div class="modal-body">

</div>
<p><a href ="/" class="btn">Back Home</a></p>
<p><a href="/logout" class="btn">Logout</a></p>
</body>
</html>