<!DOCTYPE html>
<html>
    <head>    
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
<body>
<h1>Login Page</h1>
<form action = '/login', method = "POST">
    <div>
        <div class="msg" style="color: red;">{{msg}}</div>

        <hr>
        <label for="user"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="user" id="user" required>

        <hr>
        <label for="pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass" id="pass" required>
        <hr>

        <button type="submit" class="loginbtn">Login</button>

    
    </div>
</form>
<div class="container register">
    <p>No Acount Yet? <a href="/register">Register Now!</a>.</p>
</div>

</body>
</html>